{% load pwa %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% progressive_web_app_meta %}
    <!-- Titulo -->
    <title>Mis Perris - {% block title %} Title {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block head %}
    {% endblock %}

</head>
<body>
<div class="content">      
    {% block navbar %}
    <!-- Cabezera -->
    <nav id="navbar">
        <div id="navbar-logo">
            <img src="{% static 'images/img/logo.png' %}" alt="logo">
        </div>
        <div id="nav">
            <ul>            
                <li class="nav-item"><a href="{% url 'index' %}">inicio</a></li>
                <li class="nav-item"><a href="#">servicios</a></li>
                <li class="nav-item"><a href="#">quiénes somos</a></li>
                <li class="nav-item"><a href="#">contáctanos</a></li>

                {% if not user.is_authenticated %}        
                <li class="nav-item"><a href="{% url 'registro' %}">registrarse</a></li>
                <li class="nav-item"><a href="{% url 'login' %}">iniciar sesión</a></li>
                <li class="nav-item"><a  href="{% url 'social:begin' 'facebook' %}">Facebook Login</a></li>
                {% endif %}
                
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li class="nav-item"><a style="color: red;" href="{% url 'rescatados:rescatados_list' %}">Rescatados</a></li>
                {% endif %}
                <li class="nav-item"><a style="color: red;" href="{% url 'rescatados:rescatados_adopcion' %}">Adopción!</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                <span class="ml-md-5" style="color: blue;"><strong>Usuario: {{ user.get_username }}</strong></span>
                {% endif %}                
            </ul>
        </div>                                 
    </nav>
    {% endblock %}

    {% block header %}
    <!-- Carrusel -->
    {% endblock %}

    {% block contactinfo %}
    <!-- Infrmacion de contacto -->
    <div id="contact">
            <div id="p1">+ 56 9 98765431</div>
            <div id="p2">Rescate y adopción de perros callejeros</div>
            <div id="p3">
                <ul>
                    <li><div class="social"><img height="16" src="{% static 'images/icons/facebook-f-brands.svg' %}" alt="facebook"></div></li>
                    <li><div class="social"><img height="16" src="{% static 'images/icons/google-plus-g-brands.svg' %}" alt="google"></div></li>
                    <li><div class="social"><img height="16" src="{% static 'images/icons/instagram-brands.svg' %}" alt="instagram"></div></li>
                    <li><div class="social"><img height="16" src="{% static 'images/icons/envelope-solid.svg' %}" alt="email"></div></li>                    
                </ul>
            </div>
        </div>    
    {% endblock %}

    {% block content %}   
    {% endblock %}

    {% block footer %}
    <!-- Pie de página -->
    <footer id="footer" class="navbar navbar-fixed-bottom">
        <p>Desarollo Web y Mobile - Ariel Chácon, Nicolás Leporati</p>
    </footer>
    {% endblock %}    
</div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrajs %}
    {% endblock %}

</body>
</html>