{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
<br>
<!-- Galeria -->
{% if object_list %}
<h1 class="bg-green pt-2 pb-4 display-3 text-center">¡Perros en adopción!</h1>
<div class="bg-green mt-3 mb-5 pb-4">        
    <div id="galeria" class="bg-clear">        
        <!-- Imagenes -->
        {% if object_list %}
        {% for perro in object_list %}
        <div class="item-galeria mb-3 all 1">
            <img class="img-fluid" src=../static/images/{{perro.fotografia}} alt="{{ perro.nombre }}">
            <div class="caption">
                <h5 class="mb-0">{{ perro.nombre }}</h5>
                <i>{{ perro.estado }}</i>
                <p>{{ perro.descripcion }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% else  %}
<h1>Aun no tenemos perros en adopción</h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif  %}
</div>
{% endblock %}