{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
<h1 class="display-3">Rescatados</h1>
<hr>
<a class="btn" role="button" href="{% url 'rescatados:rescatados_form' %}">Agregar</a>
<hr>

{% if not object_list %}
<h1>No hay registro de perros</h1>
<br><br><br><br><br><br><br><br>
{% else %}
<table class="table table-bordered">
    <thead>
         <tr>
             <td>Fotografia</td>
             <td>Nombre</td>
             <td>Raza</td>
             <td>Descripcion</td>
             <td>Estado</td>
             <td>Acciones</td>
         </tr>
    </thead>
    <tbody>  
         {% for perro in object_list %}      
         <tr>
             <td><img src= ../../static/images/{{ perro.fotografia }} style="width: 100px;"/> </td>
             <td>{{ perro.nombre }}</td>
             <td>{{ perro.razaPredominante }}</td>
             <td>{{ perro.descripcion }}</td>
             <td>{{ perro.estado }}</td>
             <td>
                 <a class="btn btn-primary" href="{% url 'rescatados:rescatados_update' perro.id%}">Editar</a>
                 <a class="btn btn-danger" href="{% url 'rescatados:rescatados_borrar' perro.id%}">Eliminar</a>
             </td>
             
         </tr>
         {% endfor %}                                
    </tbody>
</table>
{% endif %}

</div>

{% endblock %}