#registro {
    padding-top: 2em;
    padding-bottom: 4em;
}

#formulario {
    width: 30%;
}

.invalid {
    border-color: red;
}

label.invalid {
    color: red;
    font-style: italic;
}

@media (max-width: 767px) {
    #formulario {
        width: 100%;
    }
}