{% extends 'base/base.html' %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1 class="display-4">Su contraseña se restableció correctamente!</h1>
    <h3 class="text-center"><a href="{% url 'login' %}">Iniciar sesión</a></h3>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}