{% extends 'base/base.html' %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="col-md-5">

    {% if validlink %}
    <h1 class="display">Restablecer contraseña</h1><br>
    
    <form method="POST" id="formulario">
        {% csrf_token %}

        <div class="form-group">
            <label for="new_password1">Nueva contraseña</label><br>
            <input name="new_password1" class="form-control" type="password"/>
            <div class="bg-danger mt-1">{{ form.errors.new_password1 }}</div>
        </div>

        <div class="form-group">
            <label for="new_password2">Repita contraseña</label><br>
            <input name="new_password2" class="form-control" type="password"/>
            <div class="bg-danger mt-1">{{ form.errors.new_password2 }}</div>
        </div>

        <div class="form-group">
            <input class="btn" type="submit" value="Enviar"/>
        </div>           
    </form>
    <br><br><br><br>
    {% else %}

    <h1>ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endif %}
</div>
</div>
{% endblock %}