{% extends 'base/base.html' %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<div class="container mt-3">    
    <form method="POST" class="col-md-4">
        {% csrf_token %}
        <h2 class="display">Restablecer contraseña</h2>

        <div class="form-group">
            <label for="email">Correo</label><br>
            <input name="email" class="form-control" type="text"/>
            <div class="bg-danger mt-1">{{ form.email.errors }}</div>
        </div>
    
        <div class="form-group">
            <input class="btn" type="submit" value="Enviar"/>
        </div>
    </form>
    <br><br><br><br><br><br><br><br><br>

</div>
{% endblock %}