{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-1 text-center">Correo enviado!</h1>
    <p class="text-center">Revise su bandeja de entrada, en donde encontrara el link de uso unico.</p>
    <br><br><br><br><br><br><br><br><br><br><br>  
</div>

{% endblock %}