{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Inicio
{% endblock %}

{% block header %}
<!-- Carrusel -->
<div id="carouselIndex" class="carousel slide" data-ride="carousel">
    <!-- Indicadores -->
    <ol class="carousel-indicators">
        <li data-target="#carouselIndex" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndex" data-slide-to="1"></li>
        <li data-target="#carouselIndex" data-slide-to="2"></li>
    </ol>
    <!-- Imagenes -->
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img class="d-block" src="{% static 'images/adoptados/Apolo.jpg' %}" alt="Apolo">
        <div class="carousel-caption d-md-block">
            <h5>Apolo</h5>
            <p>Es un perro aventurero!</p>
        </div>
        </div>
        <div class="carousel-item">
        <img class="d-block" src="{% static 'images/adoptados/Duque.jpg' %}" alt="Duque">
        <div class="carousel-caption d-md-block">
            <h5>Duque</h5>
            <p>Un perro extremo!</p>
        </div>
        </div>
        <div class="carousel-item">
        <img class="d-block" src="{% static 'images/adoptados/Tom.jpg' %}" alt="Tom">
        <div class="carousel-caption d-md-block">
            <h5>Tom</h5>
            <p>El nuevo integrante de la casa!</p>
        </div>
        </div>
    </div>
    <!-- Flechas -->
    <a class="carousel-control-prev" href="#carouselIndex" role="button" data-slide="prev">
        <div class="flecha"><span class="carousel-control-prev-icon" aria-hidden="true"></span></div>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndex" role="button" data-slide="next">
        <div class="flecha"><span class="carousel-control-next-icon" aria-hidden="true"></span></div>
        <span class="sr-only">Siguiente</span>
    </a>
</div>
{% endblock %}

{% block content %}
<!-- Contenido Principal -->
<div id="main">
    <!-- Contenido Izquierda -->
    <div id="rescate">
        <h3>RESCATE</h3>
        <h6>ETAPA UNO</h6>
        <hr class="hr-small" style="margin-right: 0;">
        <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>
        <img src="{% static 'images/img/rescate.jpg' %}" alt="rescate" style="width: 50%;">
    </div>
    <!-- Contenido Derecha -->
    <div id="crowd">
        <img src="{% static 'images/img/crowfunding.jpg' %}" alt="crowfunding" style="width: 50%;">
        <h3>CROWDFUNDING</h3>
        <h6>FINANCIAMENTO</h6>
        <hr class="hr-small" style="margin-left: 0;">
        <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>                
        <button class="btn">CAMPAÑAS</button>
    </div>
</div>


<!-- Galeria -->
{% if perros %}
<div class="bg-green">
    <h1 class="pt-3 text-center">Conoce a nuestras mascotas</h1>          
    <div id="galeria">               
        <!-- Imagenes -->
        {% if perros%}
        {% for perro in perros %}
        <div class="item-galeria mb-3 all 1">
            <img class="img-fluid" src=../static/images/{{perro.fotografia}} alt="{{ perro.nombre }}">
            <div class="caption">
                <h5 class="mb-0">{{ perro.nombre }}</h5>
                <i>{{ perro.estado }}</i>
                <p>{{ perro.descripcion }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% else %}
    <h1 class="text-center bg-green mb-0 pb-3 pt-3">Aun no tenemos mascotas</h1>
    {% endif  %}
</div>
{% endblock %}