{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Registro
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/registro.css' %}" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div id="registro" class="container">
    <h1 class="display">Login</h1><br>
    <form method="POST" id="formulario">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Nombre de Usuario</label><br>
            <input name="username" class="form-control" type="text"/>
            <div class="bg-danger mt-1">{{ form.errors.username }}</div>
        </div>

        <div class="form-group">
            <label for="password">Password</label><br>
            <input name="password" class="form-control" type="password"/>
            <div class="bg-danger mt-1">{{ form.errors.password }}</div>
        </div>

        {% if form.non_field_errors %}
        <div class="form-group">
            <div class="bg-danger mt-1 p-2">Login incorrecto!</div>
        </div>  
        {% endif %}
        
        {{form.non_field_errors}}

        <div class="form-group">
            <input class="btn" type="submit" value="Enviar"/>
        </div>
        <a href="{% url 'password_reset' %}">He olvidado mi contraseña!</a>
    </form>
</div>
{% endblock %}