{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Registro de usuario{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/registro.css' %}" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<!-- Formulario -->
<div class="container">
<div id="registro">

    <h1 class="display">Registro</h1><br>
    <form method="POST" id="formulario">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.name}}">{{ field.label_tag }}</label><br>
            {{ field }}
            <div class="bg-danger mt-1">{{ field.errors }}</div>
        </div>
        {% endfor %}        
        
        <div class="form-group">
            <input class="btn" type="submit" value="Enviar" />
        </div>
    </form>

</div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/cargarData.js' %}"></script>
<script defer src="{% static 'js/reglas.js' %}"></script>
{% endblock %}